<!doctype html>

<head>
    <title>
        {% block title %}pleasebeup{% endblock %}
    </title>
    <link rel="icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <header>
        <h1><a href="/"><img src="/icon.png" style="width: 1em; padding: 0; margin: 0; vertical-align: middle;"></a>&nbsp;pleasebeup</h1>
        <nav>
            {% if not user %}
                <a href="/">Home</a> /
            {% endif %}
            <a href="/dashboard">Dashboard</a>
            {% if not user %} /
                <a href="/register">Register</a>
            {% endif %}
            {% if user %} /
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </header>
    <br>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>