{% extends "base.html" %}
{% block content %}
    <p>Hey {{ user.email }} 👋</p>
    <p>Welcome to your dashboard.</p>
    <table>
        <tr>
            <th>URL</th>
            {% if website.failure_count > 0 %}<th>Failure count</th>{% endif%}
            <th>Last checked</th>
            <th>Status</th>
        </tr>
        <tr>
            <td><a href="{{ website.url }}">{{ website.url }}</a></td>
            {% if website.failure_count > 0 %}<td>{{ website.failure_count }}</td>{% endif%}
            <td>{{ website.last_checked }}</td>
            <td>{% if website.failure_count > 0 %}❌{% else %}✅{% endif %}</td>
        </tr>
    </table>
{% endblock %}
