{% extends "base.html" %}
{% block content %}
    <h1>Is your website is down?</h1>
    <p>We could tell you, if you have coin.</p>
    <ul>
        <li>Get an email when your website stops responding</li>
        <li>Track your website status via our HTML dashboard</li>
        <li><strike>Add on SMS alerts</strike> <small>(coming soon)</small></li>
    </ul>
    <a href="/register">
        <button>Sign up for email alerts</button>
    </a>
    <footer>
        <br>
            <i><small>Proudly pinging {{ websiteCount }} websites.</i></small>
    </footer>
{% endblock %}
